/* Home */
.home-body {
  /* margin-top: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 0%;
  width: 100vw;
  height: fit-content;
  background: rgba(25, 11, 46, 1);
  color: white;
  background: url("../../assets/Spotlight.png") center top/cover no-repeat;
}
/* ################################# */
/* Landing - Home */
.landing-page-wrapper {
  width: 100vw;

  height: 100vh;
  color: white;
  /* background: url("../../assets/Home/landing/fog.png") center center/cover
    no-repeat; */
}

.landing-page-content {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  z-index: 9000;
  display: grid;
  place-items: center;
}
.landing-page-content > .landing-page-main-content {
  width: 55%;
}
.landing-page-content h2 {
  text-align: center;
  width: 100%;
  font-size: 3.1vw;
  font-weight: 500;
  line-height: 1;
}
.landing-page-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  gap: 30px;
  background: transparent;
}
.landing-page-explore-btn {
  border-radius: 57.45px;
  background: linear-gradient(180deg, #6435af 0%, #b384ff 100%);
  box-shadow: 0px 1.248908281326294px 0px 0px rgba(255, 255, 255, 0.4) inset,
    0px -4.995633125305176px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 4.995633125305176px rgba(255, 255, 255, 0.07),
    0px 0px 203.57205200195312px 0px #c25fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
  position: relative;
  z-index: 1000;
}
.landing-page-explore-btn a {
  color: white;
}

@keyframes shake {
  0% {
    transform: translate(0px, 11px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0, 11px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0, 11px);
  }
}

.shake {
  animation: shake 8s infinite;
}
.dragComponents {
  cursor: grab;
}
.homedrag-wrapper-desk .pt-logo {
  width: 100px;
  height: 100px;
}

.homedrag-wrapper-desk .cellestial {
  width: 160px;
  height: 160px;
}

/* right top of sketch,on p ,bottom of explore*/
.homedrag-wrapper-desk .ball70 {
  width: 70px;
  height: 70px;
}
.homedrag-wrapper-desk .ball43 {
  width: 43px;
  height: 43px;
}
.homedrag-wrapper-desk .ball40 {
  width: 40px;
  height: 40px;
}
.homedrag-wrapper-desk .ball30 {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 1000px) {
  .homedrag-wrapper-desk .pt-logo {
    width: 80px;
    height: 80px;
  }

  .homedrag-wrapper-desk .cellestial {
    width: 130px;
    height: 130px;
  }

  /* right top of sketch,on p ,bottom of explore*/
  .homedrag-wrapper-desk .ball70 {
    width: 60px;
    height: 60px;
  }
  .homedrag-wrapper-desk .ball43 {
    width: 38px;
    height: 38px;
  }
  .homedrag-wrapper-desk .ball40 {
    width: 37px;
    height: 37px;
  }
  .homedrag-wrapper-desk .ball30 {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 500px) {
  .homedrag-wrapper-desk .pt-logo {
    width: 50px;
    height: 50px;
  }

  .homedrag-wrapper-desk .cellestial {
    width: 100px;
    height: 100px;
  }

  /* right top of sketch,on p ,bottom of explore*/
  .homedrag-wrapper-desk .ball70 {
    width: 50px;
    height: 50px;
  }
  .homedrag-wrapper-desk .ball43 {
    width: 43px;
    height: 43px;
  }
  .homedrag-wrapper-desk .ball40 {
    width: 40px;
    height: 40px;
  }
  .homedrag-wrapper-desk .ball30 {
    width: 30px;
    height: 30px;
  }
}

.home-about-wrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -8%;
}

.home-about-outer-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
}
.home-about-inner-wrapper {
  border-radius: 20px;
  padding: 15px 60px;

  background-color: rgba(160, 112, 243, 0.7);
}
.home-about-inner-wrapper > p {
  width: 100%;
}
.home-about-star-one {
  position: absolute;
  left: 10%;
  margin-top: 9%;
}
.home-about-star-one > svg {
  width: 150px;
}
.home-about-star-two {
  position: absolute;
  margin-bottom: 7%;
  right: 11%;
}
.home-about-star-two > svg {
  width: 150px;
}
@media screen and (max-width: 1200px) {
  .home-about-wrapper {
    bottom: -14%;
  }
  .home-about-outer-wrapper {
    width: 80%;
  }
  .home-about-inner-wrapper {
    padding: 15px 40px;
  }
  .home-about-star-one {
    left: 3%;
  }
  .home-about-star-two {
    right: 4%;
  }
}
@media screen and (max-width: 1000px) {
  .landing-page-content h2 {
    font-size: 35px;
  }
  .home-about-star-one > svg {
    width: 125px;
  }

  .home-about-star-two > svg {
    width: 120px;
  }
  .home-about-star-one {
    margin-top: 20%;
  }

  .home-about-star-two {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 780px) {
  .landing-page-content > .landing-page-main-content {
    width: 70%;
  }
  .landing-page-content h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .home-about-wrapper {
    bottom: -10%;
  }
  .landing-page-content > .landing-page-main-content {
    width: 80%;
  }
  .landing-page-content h2 {
    font-size: 26px;
  }
  .home-about-outer-wrapper {
    width: 90%;
  }
  .home-about-inner-wrapper {
    padding: 10px 20px;
  }
  .home-about-star-one {
    left: -2%;
    margin-top: 50%;
  }

  .home-about-star-two {
    margin-bottom: 50%;
    right: 0%;
  }
   .home-about-star-one > svg {
    width: 100px;
    height: 100px;
  }
  .home-about-star-two > svg {
    width: 100px;
    height: 100px;
  }
}
/* ################################# */
/* HomeDrag - Home */
.homedrag-wrapper-desk {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%,-50%); */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
}
@media screen and (max-width: 500px) {
}
/* ################################# */
/* About - Home */
.about-home-wrapper {
  margin-top: 7%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
  justify-content: center;
}
.about-home-left-img {
  max-width: 450px;
  min-width: 300px;
}
.about-home-left-img > img {
  width: 100%;
  max-width: 450px;
  min-width: 300px;
}
.about-home-right-content {
  max-width: 450px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-home-right-content-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-home-right-individual {
  display: flex;
  gap: 10px;
  font-size: 23px;
  font-weight: 500;
  max-width: 450px;
  min-width: 300px;
}
.text-color-violet {
  background: radial-gradient(
    1678.18% 50.89% at 73.3% 92.71%,
    #884fff 0%,
    #bf9bff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 930px) {
  .about-home-wrapper {
    flex-direction: column;
    padding: 0px 5px;
  }
}
/* ################################# */
/* Projects - Home */

.home-projects-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  gap: 30px;
  margin-top: 100px;
}

.projects-div-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects-individual-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 29.92466926574707px 0px rgba(0, 0, 0, 0.08);
}

.project-div-upper {
  padding: 14px 14px 0px 14px;
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  background-color: #a498c9;
}

.project-div-upper img {
  width: 100%;
  height: 100%;
  border-radius: 14px 14px 0px 0px;
}
.project-div-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-div-buttons {
  display: flex;
  gap: 15px;
}
.project-div-buttons a {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
  border: 2px solid white;
}

.project-div-buttons a p {
  font-size: 14px;
}

/* ################################# */
/* Software - Home */
