/* Home */
.home-body {
  /* margin-top: 120px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 0%;
}
/* ################################# */
/* Landing - Home */
.landing-page-wrapper {
  width: 100%;

  height: 100vh;
  color: white;
  background: url("../../assets/Home/landing/fog.png") center center/cover
    no-repeat;
 
}


.landing-page-content {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 9000;
  display: grid;
  place-items: center;

 
}
.landing-page-content div:nth-child(1) {
  width: 70%;
}
.landing-page-content h2 {
  text-align: center;
  width: 100%;
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}
.landing-page-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  gap: 30px;
  background: transparent;
}
.landing-page-explore-btn {
  border-radius: 57.45px;
  background: linear-gradient(180deg, #6435af 0%, #b384ff 100%);
  box-shadow: 0px 1.248908281326294px 0px 0px rgba(255, 255, 255, 0.4) inset,
    0px -4.995633125305176px 0px 0px rgba(0, 0, 0, 0.2) inset,
    0px 0px 0px 4.995633125305176px rgba(255, 255, 255, 0.07),
    0px 0px 203.57205200195312px 0px #c25fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
  position: relative;
  z-index: 1000;
}
.landing-page-explore-btn a {
  color: white;
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 500px) {
}
/* ################################# */
/* HomeDrag - Home */
.homedrag-wrapper-desk {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.homedrag-wrapper-desk div {
  width: 50px;
}
.homedrag-wrapper-tab {
  width: 100%;
  max-width: 100vw;
  height: 500px;
  display: none;
}
.homedrag-wrapper-mob {
  width: 100%;
  max-width: 100vw;
  height: 500px;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 850px) {
  .homedrag-wrapper-desk {
    display: none;
  }
  .homedrag-wrapper-tab {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .homedrag-wrapper-tab {
    display: none;
  }
  .homedrag-wrapper-mob {
    display: block;
  }
}
/* ################################# */
/* About - Home */
.home-about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0%;
  margin: 0%;
}
.home-about-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.home-about-content-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
  width: 340px;
}
.home-about-content-wrapper :hover {
  box-shadow: 0px 10px 30px 0px rgba(138, 108, 227, 0.15);
}
.home-about-content-individual > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.home-about-content-individual > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8a6ce3;
  width: 100%;
  gap: 5px;
}

/* ################################# */
/* Showcase - Home */

.showcase-home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.showcase-home-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.showcase-home-content-left {
  width: 10%;
}

.showcase-home-content-mid {
  width: 70%;
  position: relative;
}

.showcase-home-content-right {
  width: 25%;
}
.showcase-home-content-mid > img {
  width: 100%;
  height: 80vh;
}
.showcase-home-content-right > img,
.showcase-home-content-left > img {
  width: 100%;
  height: 55vh;
}

/* slider */

.slider-wrapper {
  position: absolute;
  background-color: #ffffff;
  height: 50vh;
  width: 84.6%;
  top: 2.5vh;
  left: 13.2%;
  overflow: hidden;
  overflow-x: scroll;
}
.slider {
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}
.container {
  flex: 0 0 100%;
  width: 100%;
}

.slider-wrapper div {
  width: 100%;
  height: 70vh;
}
.slider-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 850px) {
  .showcase-home-content-right,
  .showcase-home-content-left {
    display: none;
  }
  .showcase-home-content-mid {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .showcase-home-content-mid > img {
    height: 60vh;
  }
  .slider-wrapper {
    height: 40vh;
  }
}

/* ################################# */
/* Projects - Home */

.home-projects-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  gap: 30px;
}

.projects-div-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-individual-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
  box-shadow: 0px 0px 29.92466926574707px 0px rgba(0, 0, 0, 0.08);
}

.project-div-upper {
  padding: 14px 14px 0px 14px;
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  background-color: #a498c9;
}

.project-div-upper img {
  width: 100%;
  height: 100%;
  border-radius: 14px 14px 0px 0px;
}
.project-div-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-div-buttons {
  display: flex;
  gap: 15px;
}
.project-div-buttons a {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
  border: 2px solid white;
}

.project-div-buttons a p {
  font-size: 14px;
}

/* ################################# */
/* Software - Home */
