.home-body {
  display: flex;
  height: 80vh;
  flex-direction: column;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;

  overflow: hidden;
}

/* about */
.home-about {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  flex-direction: column;
}
.home-about > div {
  position: relative;
}

.home-about-content {
  position: absolute;
  color: hsl(0, 0%, 100%);
  top: 0%;
  z-index: 2;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home-about-content > div > h1 {
  font-size: 55px;
  width: 65vw;
}
.home-about-content > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 8px 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: white;
  gap: 5px;
  border-radius: 8px;
}

/* grid layout */

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 1;
}
.box {
  width: 54px;
  height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.home-project {
  height: 100vh;
  width: 100vw;
  background-color: #5473e3;
}

/* company logos */

.company-wrapper {
  width: 100vw;
  height: 20vh;
  padding: 0vh 2vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 2vh;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  
}
.company-wrapper a{
  height: 13vh;
}
.company-wrapper a>img{

  animation: scroll 15s linear 15s infinite alternate forwards;
}

@keyframes scroll {
  0% {
    opacity: 1;
		transform: translateX(0);
  }
  100% {
  	opacity: 1;
		transform: translateX(-100vw)
  }
}